<!DOCTYPE html>

<html lang="en"> 

<head>

<!-- Basic Page Needs-->
<meta charset="utf-8">
<title>Learn & Develop & Innovate</title>
<meta name="description" content="Techstack is a best developer community to be innovative and Informative.">
<meta name="author" content="">

<!-- Mobile Specific Metas -->
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">


<!-- Favicons -->
<link rel="shortcut icon" href="/images/favicon.ico">
<link rel="apple-touch-icon" href="/images/apple-touch-icon.png">
<link rel="apple-touch-icon" sizes="72x72" href="/images/apple-touch-icon-72x72.png">
<link rel="apple-touch-icon" sizes="114x114" href="/images/apple-touch-icon-114x114.png"> 
  
<!-- Included CSS files  -->    

<link rel="stylesheet" type="text/css"  href="css/bootstrap.css">
<link rel="stylesheet" type="text/css"  href="/css/bootstrap-responsive.css">
<link rel="stylesheet" type="text/css"  href="/css/bootstrap-theme.css">  

<link rel="stylesheet" type="text/css"  href="/css/fontawesome.css"> 
<link rel="stylesheet" type="text/css"  href="/css/animate.css">  
<link rel="stylesheet" type="text/css"  href="/css/main.css">

<link rel="stylesheet" type="text/css"  href="/css/style.css">    
<link rel="stylesheet" type="text/css"  href="/css/base.css"> 
<link rel="stylesheet" type="text/css"  href="/css/font-style.css" id="set_font" >   

<link rel="stylesheet" type="text/css"  href="/css/color-night.css" id="set_color">   
<link rel="stylesheet" type="text/css"  href="/css/custom.css">

</head>


<body >

<!--  site loading -->

<div class="pageFade bg_white" > 	
    <div class="loading_2x">         
        <div class="logo_loading">
            <div class="site_loading_bar"></div>         
        </div>
    </div>    
</div>

<div class="header noborder menuOpen miniView" >

    <div class="container">

        <div class="row-fluid">

            <div class="col-md-2 removePadding">

                <!-- Place your logo here -->
                <div class="logo" >
                    <a href="/" class="menu_link"><img src="/images/logoheader.png" alt="logo text"></a>
                </div>
        
                <div class="mobile_menu_btn">  
                </div>
        
            </div>

            <div class="col-md-10 mobi">

                <div class="container-fluid mobi">

                    <div class="row mobi" >

                        <!-- Site Menu -->

                        <div class="col-md-12 mobi"> 
                                         
                            <nav class="header_content">
                                <ul class="nav">
                                    <!--  Add require site page navigation -->  

                                    <li><a href="/" class="first active"> <i class="fa fa-circle-o"></i>Home</a></li>
                                    <li><a href="#!about"> <i class="fa fa-circle-o"></i>About Us</a></li>
                                    <li><a href="/blog"> <i class="fa fa-circle-o"></i> Blog</a></li>
                                    <li><a href="#!contactus" class="last"> <i class="fa fa-circle-o"></i> Contact us</a></li> 
                                                                
                                    <!-- <div class="col-md-12 text-center"> -->
                                    <!-- signin    -->

                                        <form class="contactusForm" method="post" action="/login" id="signin">
                                            <div class="col-md-3">
                                                <input class="col-md-12 transprentBg dashedBorder" placeholder="Your Email Address" type="email" name="temail" tabindex="2" required>
                                            </div>
                
                                            <div class="col-md-3"> 
                                                <input class="col-md-12 transprentBg dashedBorder" placeholder="Your password" type="password" name="password" tabindex="3" required>
                                            </div>
                 
                                            <div class="col-md-3 textAlignCenter alignCenter">			 
                                                <button name="submit" class="button medium transprentBg dashedBorder makeAnimate" type="submit" data-submit="...Sending">
                                                    <i class="icon icon-basic-mail right_spacing" ></i> Sign-In
                                                </button> 
                                            </div>
                                        </form>
                                    <!-- </div> -->

                                </ul>
                            </nav>                          

                        </div>

                    </div>
        
                </div>

            </div>

        </div>  
    </div>   

</div>  



<!-- Complete web site content is placed inside the bodyContainer class div except footer -->


<div class="bodyContainer">

    <!-- Home page -->

    <div  data-id="!home" class="contentWrapper homeSlider parallax fullHeight backGround" data-src="/images/siliconvalley.jpg" >

        <!-- overlay <div class="overlayBg fixedPosition darkBackground homeslider_overlay"></div>    -->

        <div class="container" >    

            <div class="row">  

                <div class="col-md-12">  

                    <div class="fullScreenSlider"> 
                        <!-- Diamond content, data-time attribute is used to set the delay time for diamond to appear when page display -->
                        <div class="diamond_container fullWid homeDiamond" data-time="1" data-animated-in="animated fadeInUp" >

                            <div class="diamond">
                            </div>

                                <div class="diamond_content">

                                    <h2 class="white_color"><img src="/images/logo.png" /></h2>
                                    <h4 class="mini_heading small removePadding">Come, Learn & Develop</h4>
                                    <h5><a class="signup" href="/signup">Join Techstack Now</a></h5>
                                    <hr>  

                                </div>    

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>

<div class="container form_holder">
                                    
    <hr></hr>

    <div class="container form_holder"><hr></hr>
    </div><br><br><br><br>



    <div class="col-md-12 text-center">
        <h3>Sign-Up with Us</h3>
    </div><br><br><br><br><br><br>

        <!-- signup    --> 

        <form class="contactusForm" method="post" action="/signup" >

            <div class="col-md-3">   
                <input class="col-md-12 transprentBg dashedBorder" placeholder="Your name" type="text" name="Name" tabindex="1" required autofocus>
            </div>

            <div class="col-md-3">
                <input class="col-md-12 transprentBg dashedBorder" placeholder="Your Email Address" type="email" name="email" tabindex="2" required>
            </div>

            <div class="col-md-3"> 
                <input class="col-md-12 transprentBg dashedBorder" placeholder="Your Password" type="password" name="password" tabindex="3" required>
             </div>
 
            <div class="col-md-3 textAlignCenter alignCenter">			 
                <button name="submit" class="button medium transprentBg dashedBorder makeAnimate" type="submit" data-submit="...Sending">
                <i class="icon icon-basic-mail right_spacing" ></i> Sign-Up</button> 
            </div>

        </form>
</div> 




<!-- About us -->


<div data-id="!about" class="contentWrapper backGround" >


<div class="top_space"> </div>
<hr class="separator_desktop">


<div class="container" >        
    <div class="row">  
        <div class="col-md-12"> 
            
            <h4 class="top_heading">About us</h4>
        </div>           
    </div> 
</div>

<div class="container" data-animated-time="5" data-animated-in="animated fadeInUp" data-animated-innerContent="yes">
    <div class="row"  >  
        <div class="col-md-12 textAlignCenter">
            <h1 class="upperCase fittext1">Discuss, <span class="highlight_color">Innovation</span> &  <br> Implement</h1>                
        </div>
    </div>
    <hr>
     <div class="row" >
     <div class="col-md-1"></div>
     <div class="col-md-10 textAlignCenter">
    <h4 class="mini_description">We are motivatated towards innovation in software technology community and in order to articulate the power of technology across the industries we are here with our developer community platform in order to serve the society.</h4>
    </div>
    </div>
 </div>   

<hr>
<hr class="separator_mini">




<div class="fullWidth topHeaderBg top_bot_pad lightColorText highlight_bgColor" > 
    
    <!-- Page scroll down to Next page -->
    <a class="move_down bottomAlign" href="#!team" ><span> <i class="icon icon-arrows-down fa-2x"></i> </span></a>
    
    <hr class="space_mini">
    <hr>
    <hr class="mobile_spacing">

</div>

</div>

            
  <!-- contactus page -->

  <div data-id="!contactus" class="contentWrapper backGround contactPage" >

        <div class="top_space">
        </div>
    
          <hr class="separator_desktop">
    
          <div class="container" >        
            <div class="row">  
              <div class="col-md-12">  
                <h4 class="top_heading">Contact-Us</h4>
              </div>           
            </div> 
          </div>
    
          <hr class="separator_max">
        
        <div class="container" >
    
          <div class="row-fluid" > 
    
            <div class="col-md-4">
              <h5 class="bold_weight" style="margin-left:14em;">Quick link</h5>
                <ul class="link_lists" style="margin-left:16em;">
                  <li><a href="/publish" class="smoothPageLoad">Publish Blog</a></li>
                  <li><a href="/signup" class="smoothPageLoad">Signup</a></li>
                  <li><a href="/blog" class="smoothPageLoad">Blog</a></li>
                </ul>   
            </div>
                  
            <div class="col-md-4">
    
              <h4 class="upperCase bold_weight" style="margin-left:29em;">Touch</h4>
    
              <ul class="item_feature no_border" data-animated-time="0" data-animated-in="animated fadeInUp" data-animated-innerContent="yes"  data-anchor-to="parent">
                <li style="margin-left:33em;"><span class="title"><i class="fa fa-mobile"></i></span>6238762873</li>
                <li style="margin-left:33em;"><span class="title"><i class="fa fa-envelope"></i></span><a>fdsf@fndj.com</a></li>
              </ul>
    
            </div>
    
          </div>
    
        </div>
    </div>


<!-- Included javascript files  -->

<script type="text/javascript" src="/javascripts/jquery-1.11.1.min.js"></script>   
<script type="text/javascript" src="/javascripts/jquery.transit.js"></script>    
<script type="text/javascript" src="/javascripts/bootstrap.js"></script> 
<script type="text/javascript" src="/javascripts/bigvideo.js"></script>

<script type="text/javascript" src="https://www.techstack.in/js/video.min.js"></script>
<script type="text/javascript" src="https://www.techstack.in/js/jquery.nicescroll.min.js"></script>
<script type="text/javascript" src="https://www.techstack.in/js/jquery.knob.js"></script>   
<script type="text/javascript" src="https://www.techstack.in/js/jquery.magnific-popup.min.js"></script> 

<script type="text/javascript" src="https://www.techstack.in/js/SmoothScroll.js"></script>
<script type="text/javascript" src="https://www.techstack.in/js/jquery.support.plugin.min.js"></script>
<script type="text/javascript" src="https://www.techstack.in/js/custom.min.js"></script> 
<script type="text/javascript" src="https://www.techstack.in/js/main-fm.min.js"></script>
<script type="text/javascript" src="https://www.techstack.in/js/modernizr.min.js"></script>


<script type="text/javascript">
        
        $(document).ready(function() {
        
        /* Site Main plug-in initilize */
            jQuery(function($) {

                $("body").mainFm( {
                    
                    /* Set the opening page. Leave it blank value if you need to show the home page as a opening page*/
                    currentPage : "!home",
                });
            });
        });
</script>

</body>

</html>