<!DOCTYPE html>
<html lang="en" >

<head>

  <meta charset="UTF-8">
  <title>Reister Here</title>
  <meta name="description" content="Techstack is a best developer community to be innovative and Informative.">
  <meta name="author" content="Vivek">

  <!-- Mobile Specific Metas -->
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">


  <!-- Favicons -->
  <link rel="shortcut icon" href="/images/favicon.ico">
  <link rel="apple-touch-icon" href="/images/apple-touch-icon.png">
  <link rel="apple-touch-icon" sizes="72x72" href="/images/apple-touch-icon-72x72.png">
  <link rel="apple-touch-icon" sizes="114x114" href="/images/apple-touch-icon-114x114.png"> 
  

  <!-- Included CSS files  -->    

  <link rel="stylesheet" type="text/css"  href="/css/bootstrap-responsive.css">
  <link rel="stylesheet" type="text/css"  href="/css/bootstrap-theme.css">    
  <link rel="stylesheet" type="text/css"  href="/css/fontawesome.css"> 
  <link rel="stylesheet" type="text/css"  href="/css/font-style.css" id="set_font" > 
  <link rel="stylesheet" type="text/css" href="/css/signup.css">   

</head>

<body>

      <div class="logo" >

          <a href="/"><img src="/images/logoheader.png" alt="logo text"></a>

      </div>

  
  <!--  Box -->  

  <div id="wrapper">

	  <div class="join">Join Today
    </div>

      <div class="lock">
      </div>
      
          <div class="clr">
          </div>
          
            <div class="login-options">Choose on of the following sign up methods.
            </div>
            
                	  <a class="twitter" href="#">Twitter</a>
                    <a class="facebook" href="#">Facebook</a>
                    <a class="google" href="#">Google+</a>

                        <div class="clr"><hr />
                        </div>

                    		<div class="mail-text">Or sign up using your email address.
                        </div>
                                
                        <div class="forms">
                                    
                          <form action="" method="get" name="register"> 

                            <input name="fullname" type="text" placeholder="Enter your full name..." size="70"  id="username"/> 
                            <input name="email" type="text" placeholder="Enter your email address..." size="70" id="mail"/>          
                            <input name="password" type="password" placeholder="Enter a password..." size="70"  id="password"/>
                                    
                          </form>

                        </div>

						        <a class="create-acc" href="#">Create My Account</a>
  </div>

</body>

</html>
